.row{
    width: 100%;
    margin-left: 20px;
    color: #fff;
    padding: 20px;
}
.row .posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.row .poster{
    cursor: pointer;
    max-height: 250px;
}
.posters::-webkit-scrollbar{
   display: none !important;
}
.row .small-poster{
    max-height: 100px;
    cursor: pointer;
}

.row .poster:hover{
    transform: scale(1.2);
}

.row .small-poster:hover{
    transform: scale(1.2);
}